@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.font-audio {
    font-family: "Audiowide", "sans-serif";
}
.hidden {
    display: none;
}
.navbar {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: black;
    z-index: 1;
}
.dropdownDiv {
position: relative;
}
.dropdown {
    position: absolute;
    background-color: black;
    color: white;
}
#monitor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(21, 1fr);
    margin-top: 10vh;
    padding: 0 2vw;
}
.row {
    grid-row: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 3fr) repeat(2, 4fr) 2fr 3fr 4fr;
}
