#monitorDiv {
    padding-top: 20px;
}

#monitor {
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: 1fr;
}

#row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
}